<h1>Hello, <span class="logo-font">{name}</span>.</h1>

<Counter />
<Random />

<!-- Import the counter component! -->
<script>
  import Counter from './Counter.html';
  import Random from "./random.html"
  export default {
    components: {
      Counter,
      Random
    }
  };
</script>

<!-- Include styles -->
<style>
  h1, h2 {
    font-weight:300;
    font-family: Lato;
  }
  .logo-font {
    text-transform: lowercase;
    font-size:2.5rem;
    font-family: 'Rajdhani', sans-serif;
    color: #aa1e1e;
  }
</style>